* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./img/back1.jpg");
}
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-image: url("./img/back1.jpg");
    background-size:cover;
    color: #4caf50;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.btns {
    
    display: flex;
    flex-direction: column;
    
}
  
.btn-tare {
    background-color: darkgray;
    color: black;
    width: 200px;
    height: 40px;
    border: 3px darkslategray solid;
    border-radius: 15px;
    margin: 1em;
}
  
.btn-tare:hover{
  
    background-color: darkslategray;
    color: white;
    width: 200px;
    height: 40px;
    border: 3px darkslategray solid;
    border-radius: 15px;
    cursor: pointer;
  
}
  
footer {
    background-image: url("./img/back2.jpg");  
    background-size: cover;
    color: #fff;
    padding: 20px; 
    text-align: center; 
}


footer a {
    color: #3498db; 
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
  